@charset "utf-8";
html,
body {
  height: 100%;
  padding-left: 50px;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #666666;
}

ul,
li {
  list-style: none;
}

a {
  color: #666666;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 200%;
  cursor: pointer;
}

/*섹션 넓이 지정*/
section {
  min-width: 1000px;
}

/*.inner 구성잡기 1320X650 */
#container section .inner {
  width: 1000px;
  min-height: 485px;
  padding-top: 175px;
  margin: 0 auto;
  text-align: center;
}

/*li 수평정렬, 넓이설정*/
#container section .inner .box_wrap li {
  float: left;
  padding: 0 30px;
  /* box 4개 - 좌우패딩  */
  width: calc(25% - 40px);
}

/*.items 구성잡기*/
#container section .inner .box_wrap li .items {
  border: 1px solid #e3e3e3;
  padding: 50px 0;
  /*270px - (상하패딩 90px)*/
  min-height: 150px;
  cursor: pointer;
}

/*text 구성잡기*/
#container section .inner .box_wrap li .items h3 {
  font-size: 20px;
  line-height: 250%;
  cursor: pointer;
}

#container section .inner .box_wrap li .items p {
  margin: 32px 0;
  line-height: 150%;
  cursor: pointer;
}